<div class="control-group">
    <label class="control-label" for="elm_my_setting">{__("my_setting")}:</label>
    <div class="controls">
        <input type="text" name="product_data[my_setting]" id="elm_my_setting" size="20" maxlength="32"  value="{$product_data.my_setting}" class="input-long" />
    </div>
</div>